body {
    margin: 0; /* Entfernt den Standard-Margin */
    padding: 0; /* Entfernt das Standard-Padding */
    font-family: sans-serif;
    background-color: #eeeeee;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Verteilt den Platz zwischen den Items */
    background-color: #333;
    color: #fff;
    margin-right: 100px;
    width: 100%;    
}

.header .logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; /* Höhe des Logos */
    margin-right: 20px; /* Abstand zwischen Logo und Titel */
}

.header-links a {
    color: #fff; /* Weiße Textfarbe für die Links */
    text-decoration: none; /* Entfernt die Unterstreichung */
    margin-left: 20px; /* Fügt Abstand zwischen den Links hinzu */
    padding-right: 20px;
}

.header-links a:hover {
    text-decoration: underline; /* Fügt eine Unterstreichung beim Hover hinzu */
}

.title, .intro-text {
    font-size: 24px; /* Größe des Titels und des Intro-Texts */
    text-align: center; /* Zentriert den Intro-Text */
}

.intro-text {
    max-width: 800px; /* Maximale Breite des Textblocks */
    margin: 20px auto; /* Zentriert den Block horizontal und fügt vertikalen Abstand hinzu */
    padding: 10px; /* Etwas Innenabstand */
}

.container {
    display: flex;
    flex-wrap: wrap; /* Erlaubt die Umbruch von Kacheln in neue Zeilen */
    justify-content: space-around; /* Gleichmäßiger Abstand um die Kacheln */
    align-items: flex-start; /* Ausrichtung der Kacheln am Anfang der Flex-Zeile */
    width: 100%; /* Stellt sicher, dass der Container die volle Breite einnimmt */
    max-width: 1200px; /* Maximale Breite des Containers, optional */
    margin: auto; /* Zentriert den Container, falls gewünscht */
}

.fancy {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 30px); /* Für drei Kacheln pro Reihe */
    height: 400px; /* Feste Höhe für alle Kacheln */
    margin: 10px;
    border: 2px solid #ccc; /* Rahmen */
    border-radius: 10px; /* Abgerundete Ecken */
    overflow: hidden; /* Verhindert das Überlaufen des Inhalts */
    text-decoration: none; /* Entfernt die Unterstreichung von Links */
    color: inherit; /* Verwendet die Textfarbe des Elternelements */
    background: white; /* Hintergrundfarbe der Kachel */
}

.fancy img {
    width: 100%;
    height: 50%; /* Bild nimmt die obere Hälfte der Kachel ein */
    object-fit: cover; /* Stellt sicher, dass das Bild den Bereich abdeckt */
}

.fancy .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start; /* Startet Inhalt von oben */
    padding: 20px;
    overflow: auto; /* Ermöglicht Scrollen innerhalb des Inhaltsbereichs, falls nötig */
}

.fancy .title, .fancy .description {    
    overflow: hidden; /* Verhindert das Überlaufen des Texts */
    text-overflow: ellipsis; /* Fügt "..." hinzu, wenn der Text überläuft */
    margin: 15px 0; /* Vertikaler Abstand für Titel und Beschreibung */
}

/* Hover-Effekt für Kacheln */
.fancy:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Anpassungen für unterschiedliche Bildschirmgrößen */
@media (max-width: 1170px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Verteilt den Platz zwischen den Items */
        background-color: #333;
        color: #fff;
        margin-right: 100px;
        width: 100%;    
        height: 200px;        
    }
    .logo {
        height: 150px; /* Höhe des Logos */
        margin-right: 20px; /* Abstand zwischen Logo und Titel */
    }
    
    .title, .intro-text {
        font-size: 38px; /* Größe des Titels und des Intro-Texts */
        text-align: center; /* Zentriert den Intro-Text */
    }
    .header-links a {
        color: #fff; /* Weiße Textfarbe für die Links */
        text-decoration: none; /* Entfernt die Unterstreichung */
        margin-left: 20px; /* Fügt Abstand zwischen den Links hinzu */
        padding-right: 20px;
        font-size: 30px;
    }
    .fancy {
        width: calc(100% - 20px);       
        font-size: 35px; 
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 30px;
        height: 800px;
    }
    .fancy img {
        width: 100%;
        height: 50%; /* Bild nimmt die obere Hälfte der Kachel ein */
        object-fit: cover; /* Stellt sicher, dass das Bild den Bereich abdeckt */
    }
}

@media (max-width: 480px) {
    .fancy {
        width: calc(100% - 20px);        
    }
    .header {
        flex-direction: column; /* Stapelt Logo/Titel und Links vertikal auf kleinen Bildschirmen */
        align-items: center; /* Zentriert die Inhalte */
    }
    .header-links a {
        margin: 5px 0; /* Fügt vertikalen Abstand zwischen den Links hinzu */
    }
}
